<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>Checkouts</mat-card-title>
    <mat-card-content>

      <mat-toolbar>
        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select #sort (selectionChange)="onSortChange($event.value, direction.value)" value="" name="Default">
            <mat-option value="borrowedBook.title">Title</mat-option>
            <mat-option value="dueDate">dueDate</mat-option>
            <mat-option value="">Default</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Direction</mat-label>
          <mat-select #direction (selectionChange)="onSortChange(sort.value, $event.value)" name="Ascending" value="asc">
            <mat-option value="asc">Ascending</mat-option>
            <mat-option value="desc">Descending</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-toolbar>
      <button mat-button type="button" color="warn" (click)="toggleDeleteButtons()" style="float: right">
        {{showDeleteButtons ? 'Cancel' : 'Delete'}}
      </button>
      <mat-nav-list *ngIf="(checkouts$ | async) as checkouts">
        <a mat-list-item *ngFor="let checkout of checkouts.content">
          <ng-container *ngIf="!showDeleteButtons; else deleteButtons">
            <a
              [routerLink]="['/checkouts', checkout.id]">{{checkout.borrowedBook.title + " " + checkout.dueDate}}
            </a>
          </ng-container>
          <ng-template #deleteButtons>
            <button mat-button type="button" color="warn" (click)="deleteCheckout(checkout.id)" style="float: right">
              Delete
            </button>
            {{checkout.borrowedBook.title + " " + checkout.dueDate}}
          </ng-template>
        </a>
      </mat-nav-list>
      <mat-paginator [length]="(checkouts$ | async)?.totalElements ?? 0"
                     [pageIndex]="(checkouts$ | async)?.number"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     [accessKey]="['asc','desc','']"
                     (page)="onPageChange($event)">
      </mat-paginator>
    </mat-card-content>

  </mat-card>
</div>

