<form #bookForm="ngForm" (submit)="saveBook(bookForm.value)">
  <input type="hidden" name="id" value=null>
  <input type="hidden" name="checkOutCount" value="0">
  <input type="hidden" name="dueDate" value=null>

  <label>Title:</label>
  <input type="text" placeholder="Title" name="title" ngModel required>

  <label>Author:</label>
  <input type="text" placeholder="Author" name="author" ngModel required>

  <label>Genre:</label>
  <input type="text" placeholder="Genre" name="genre" ngModel required>

  <label>Year:</label>
  <input placeholder="Year" name="year" ngModel type="number" required>

  <label>Comment:</label>
  <input type="text" placeholder="Comment" name="comment" ngModel>

  <button type="submit" [disabled]="!bookForm.valid">Save</button>
</form>
